<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统通知</title>
    <link rel="stylesheet" href="../../../r/lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../../r/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../../../r/lib/bootstrap/css/bootstrap.min.css" />

    <script type="text/javascript" src="../../../r/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../../r/lib/bootstrap/js/bootstrap-modal.js"></script>
    <script src="../../../r/lib/bootstrap/js/modalDialog.js"></script>
    <script src="../../../r/lib/vue.min.js"></script>
    <script src="../../../r/lib/layer/layer.js"></script>
    <script src="../../../r/js/common.js"></script>
    <script src="../../../r/lib/layui/layui.js"></script>
    <script src="../../../r/js/modules/notices/systemNotice.js"></script>

</head>
<body>
<div id="app" class="container-fluid">
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.title"  placeholder="标题">
            </div>
            <a class="btn btn-default" @click="getSysNoticesData"><i class="fa fa-plus"></i>&nbsp;查询</a>
            <a  class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </div>

        <table class="table table-bordered text-center  " cellpadding="0" cellspacing="0">
            <thead class="manager_table_thead ">
            <tr>
                <th hidden>ID</th>
                <th>标题</th>
                <th>内容</th>
                <th>记录时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody  class="userOrRoleGrid">
            <tr @click="clickTr" v-for="(item,index) in items" :class="index==0?'bg-blue':''">
                <td hidden>{{item.id}}</td>
                <td>{{item.messageTitle}}</td>
                <td>{{item.messageText}}</td>
                <td>{{item.createTime}}</td>
                <td><button type="button" class="btn btn-primary edit user_line_height User_margin"  @click="update(item.id)">修改</button><button type="button" class="btn btn-primary user_line_height User_margin"  @click="del(item.id)">删除</button></td>
            </tr>
            </tbody>
        </table>

        <div id="pageTable" class="pagestyle" style="float: right;"></div>

    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group" style="padding-top: 20px;">
                <label for="messageTitle" class="col-sm-3 control-label"><span class="manager_font_red">*</span>标题</label>
                <div class="col-sm-8">
                    <input type="text" v-model="sysNoticesRecord.messageTitle" class="form-control" name="messageTitle" id="messageTitle" placeholder="标题" data-validate="required:请填写用户名">
                </div>

            </div>
            <div class="form-group">
                <label for="messageText" class="col-sm-3 control-label">类型</label>
                <div class="col-sm-8">
                    <select name="sex" id="sex" class="form-control">
                        <template v-for="(value,key) in messageType">
                            <option :value=key v-html=value :selected="key==sysNoticesRecord.messageType"></option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="messageText" class="col-sm-3 control-label">内容</label>
                <div class="col-sm-8">
                    <textarea v-model="sysNoticesRecord.messageText" id="messageText" name="messageText"  class="form-control" placeholder="输入内容"></textarea>
                </div>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" style="margin-left: 30%" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>